.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &-logo {
    height: 50px;
  }

  .header-indicator {
    color: white;
    right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    background: #3f51b5;
    cursor: pointer;

    img {
      margin-right: 0.5rem;
    }
  }
}
