/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #E0E0E0;
}

.sorting-panel .mat-form-field-flex {
  padding-top: 0 !important;
}

.sorting-panel .mat-select-arrow-wrapper {
  transform: translateY(0) !important;
}

* {
  box-sizing: border-box;
}
