.filtration {
  padding: 1rem 1rem 100px 1rem;
  width: 230px;
  height: auto;
  border-radius: 0.5rem;
  overflow: hidden;

  h2 {
    margin-bottom: 0.5rem;
  }

  .mat-divider {
    margin-bottom: 1rem;
    margin-left: -1rem;
    width: 125%;
  }

  &-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .mat-checkbox {
    font-size: 1rem;
  }

  .price-info {
    span {
      font-weight: bold;
      transform: translateY(1px);
      display: inline-block;
    }
  }
}
