<div class="delivery-info">
  <div class="delivery-info__image-container">
    <img src="{{companyInfo.companyBackground}}" alt="company background">
  </div>
  <div class="delivery-info__logo-container">
    <img src="{{companyInfo.companyLogo}}" alt="company logo">
  </div>

  <mat-card class="delivery-info__main">
    <div>
      <h2>{{companyInfo.name}}</h2>
      Categories: <span>{{getCategories()}}</span> <br>
      Cuisines: <span>{{getCuisines()}}</span>
    </div>
    <div class="delivery-info__main-right">
      <div class="info-item">
        <mat-icon aria-hidden="false" aria-label="Timer icon">multiline_chart</mat-icon>
        <span>{{getTime()}} min</span>
      </div>
      <div class="info-item">
        <mat-icon aria-hidden="false" aria-label="Timer icon">star_half</mat-icon>
        <span>{{getRating()}}</span>
      </div>
      <div class="info-item">
        <mat-icon aria-hidden="false" aria-label="Timer icon">assignment</mat-icon>
        <span>Average check: {{companyInfo.price_average}}$</span>
      </div>
    </div>
    <div class="delivery-info__main-right">
      <div class="info-item">
        <mat-icon aria-hidden="false" aria-label="Clock icon">access_time</mat-icon>
        <span>Office hours: {{getWorkingHours()}}</span>
      </div>
      <div class="info-item">
        <mat-icon aria-hidden="false" aria-label="Home icon">business</mat-icon>
        <span>Address: {{getAddress()}}</span>
      </div>
      <div class="info-item">
        <mat-icon aria-hidden="false" aria-label="Home icon">thumb_up</mat-icon>
        <span>Popularity: {{companyInfo.popularity}}</span>
      </div>
    </div>

  </mat-card>
  <div class="delivery-info__menu">
    <mat-card class="delivery-info__menu-item" *ngFor="let item of companyInfo.items">
      <img src="{{item.image}}" alt="">
      <div class="delivery-info__menu-item-description">
        <h2>{{item.name}}</h2>
        {{item.description}}

        <div class="delivery-info__menu-item-bottom">
          <b>{{item.weight}}g</b>
          <b>{{item.price}}$</b>
        </div>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="delivery-info__menu-item-quantity">
        <button
          (click)="updateCount(item.id, 1)"
          mat-mini-fab color="primary"
          aria-label="Icon button with a plus one icon"
          >
          +1
        </button>
        <button
          (click)="updateCount(item.id, 0)"
          mat-mini-fab color="accent"
          aria-label="Icon button with a plus one icon"
        >
          -1
        </button>
        <div>
            <b>Quantity: {{getQuantity(item.id)}}</b>
        </div>
      </div>
    </mat-card>
  </div>
</div>
