<app-header></app-header>

<div class="registration">
    <div class="registration-container">
      <h1>Registration</h1>
      <h3>Already have an account? Sign in</h3>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Last name</mat-label>
          <input matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput required>
        </mat-form-field>
      </div>
    </div>
</div>

<router-outlet></router-outlet>
